.pro-cont {
    display: flex;

}

.products-content {
    flex: 1;
}

.menu {
    margin-bottom: 5rem;
    border-radius: 10px;
    transition: color 0.2s ease-in-out;
}

.menu.active {
    color: var(--white);
    background-color: var(--dark-purple);
    transition: color 0.2s ease-in-out;
}

.menu.active .icons-side {
    color: var(--white);
}

.menu:hover {
    background-color: var(--dark-grey);
    border-radius: 10px;
}


.sidebar {
    /* max-height: 80vh; */
    border: none;
    outline: none;
    background-color: var(--dark-purple);
}