nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--lighter-grey);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--dark-grey);
    border-radius: 5px;
    margin: 10px;
    font-style: italic;
}

.rizzy {
    border-bottom: 1px solid grey;
    padding-right: 10px;
}

.text {
    font-size: 7px;
    text-align: end;
}

.search {
    position: relative;
}

.search input[type=search] {
    margin: 10px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid var(--lighter-grey);
    padding: 5px;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    top: 45%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    vertical-align: middle;
}

.auth {
    justify-content: flex-end;
    margin: 10px;

}

.auth .btn-primary {
    margin-right: 5px;
    padding: 10px;
}

.auth .btn-secondary {
    margin-right: 5px;
    padding: 10px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.login-form .image {
    flex: 1 1 45rem;
}

.login-form .image img {
    width: 85%;
}

.login-form form {
    flex: 1 1 45rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form form label {
    margin: 5px;
}

.login-form form input {
    margin: 5px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    text-transform: none;
    border: 1px solid var(--lighter-grey);
    cursor: pointer;
}

.login-form form .btn-primary {
    margin: 5px;
    width: 30%;
}

.account {
    margin: 5px;
}

.link {
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .login-form {
        flex-direction: column;
    }

    .login-form .image {
        flex: 1 1 45rem;
        /* height: 50vh; */
    }

    .login-form .image img {
        width: 100%;
        height: 50vh;
    }

    .login-form form {
        flex: 1 1 45rem;
        margin-top: -10rem;
justify-content: center;
    }

    .login-form form input {
        width: 100%;
    }

    .login-form form .btn-primary {
        width: 100%;
    }
}

