.product--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.product--item {
    flex-basis: calc(25% - 20px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

.product--image {
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

.product--item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.1px solid var(--lighter-grey);
}

.product--item--details {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    /* margin: 20px; */
    color: var(--dark-grey);
    font-size: 1.5rem;
    height: 180px;
}

.product--item--details span {
    /* margin-top: 20px; */
    display: block;
}
