.product--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product--item {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    position: relative;
}

.product--item img {
    border-radius: 10px;
        height: 30rem;
        width: 100%;
        object-fit: cover;
        padding: 10px;
}

.product--item--details {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin: 20px;
    color: var(--dark-grey);
    font-size: 1.5rem;
}