.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
  /* margin-top: 10px; */
}

.userprofile {
  margin-top: 30px;
  display: flex;
  gap: 2rem;
}

.user-icons {
  font-size: 2.5rem;
  color: var(--dark-purple);
  flex-direction: row;
  
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.cart-section {
  position: relative;
}

.bag-quantity {
  position: absolute;
  top: -20px;
  right: -20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--dark-purple);
  font-size: 14px;
  
}



@media (min-width: 769px) {

  #menu-btn {
    display: none;
  }

}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px;
    font-size: 1.5rem;
  }

  #menu-btn {
    font-size: 20px;
    /* color: var(--dark-purple); */
  }
}