.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
  /* margin-top: 10px; */
}