.home {
    padding: 0;
}

.home .home-slider .slide {
    
    min-height: 65vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
    padding-left: 7%;
    background-size: cover !important;
    background-position: center !important;
}

.one{
background: url(../../assets/banner1.jpg);
}

.two {
    background: url(../../assets/banner2.jpg);
}
.three {
    background: url(../../assets/banner3.jpg);
}

.home .home-slider .slide .content span {
    font-size: 2rem;
    color: var(--light-grey);
}

.home .home-slider .slide .content h3 {
    font-size: 6rem;
    color: var(--dark-grey);
    padding-top: .5rem;
}


.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    color: var(--light-purple);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--light-purple);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background:  var(--light-purple);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}
