.pro-icons {
    display: flex;
    align-items: center;
    margin-top: -25px;
}

.add-to-cart,
.wishlist {
    flex: 1;
    text-align: center;
    margin-left: 10px
}

.add-to-cart button,
.wishlist button {
    padding: 10px 20px;
    background-color: var(--dark-purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add-to-cart button:hover,
.wishlist button:hover {
    background-color: #e0e0e0;
    color: var(--dark-purple);
}