 .pro-icons {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .add-to-cart,
 .wishlist {
     display: flex;
     align-items: center;
     margin: 0.5rem;
 }

 .add-to-cart-button,
 .remove-from-cart-button {
     background-color: var(--dark-purple);
     color: white;
     border: none;
     padding: 0.5rem;
     margin: 0 0.25rem;
     font-size: 2rem;
     width: 40px;
     height: 40px;
    
 }

 .cart-icon,
 .wish-icon {
     color: var(--dark-purple);
     font-size: 24px;
     margin: 0 0.25rem;
 }

 .add-to-wishlist {
     color: var(--dark-purple);
     margin-right: 0.25rem;
 }