.icons-side {
    font-size: 20px;
    color: var(--dark-purple);
    vertical-align: middle;
}

.span-side {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 15px;
}