.create-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-form div {
    margin-bottom: 10px;
}

.create-form  label {
    display: block;
    font-weight: bold;
}

.create-form  input,
.create-form  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.create-form  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

 .create-form button:hover {
    background-color: #0056b3;
}

/* Optional: If you want to align the label and input fields in a column */
 .create-form div label,
 .create-form div input,
 .create-form div textarea {
    display: block;
}